<!DOCTYPE html>
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
    <link rel ="stylesheet" type="text/css" href="/css/miniTable.css">

    <tittle> </tittle>
</head>
<body>
    <center>

        <h3> Pembatalan Keberangkatan</h3>
        <div class="table-responsive">
            <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Id Booking</th>
                            <th>Manage Data</th>
                                     
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr class="active-row" th:each = "Data :${data}">
                    <td th:text ="${Data.id}"></td>
                    
                   
                    <td> <a class = "btn btn-danger"  th:href= "@{'/delete/'+${Data.id}}"> Delete</a></td>
                    
                </tr>
                    </tbody>
                </table>
                
            </div>
            <p> <a href ="/dashboard" target ="${data}"> back to home </a> </p>
        </center>
  
        

</body>

</html>