<!DOCTYPE html>
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
    <link rel ="stylesheet" type="text/css" href="/css/MainTable.css">

    <title> Jurusan</title>
</head>
<body>
    <center>
        <div class="table-responsive">
            <table class="styled-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Deskripsi</th>	
                            <th>Terminal awal</th>
                            <th>Terminal akhir</th>
                                     
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr class="active-row" th:each = "Data :${data}">
                        <td th:text ="${Data.id}"></td>
                        <td th:text ="${Data.deskripsi}"></td>
                        <td th:text ="${Data.terminal_awal}"></td>
                        <td th:text ="${Data.terminal_akhir}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </center>
    


</body>
</html>